* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: beige;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
}

#parentcont {
  display: flex;
  padding: 4px;
  flex-direction: column;
  width: 60%;
  height: 75%;
}

#msgcont {
  padding: 2px;
  display: flex;
  min-height: 3vh;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 4px;
}

#wrtbox {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#wrtbox input {
  border-radius: 4px;
  height: 25px;
  font-size: 18px;
  width: 90%;
}

#wrtbox button {
  height: 25px;
  border-radius: 4px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cmnbtn {
  margin: 7px;
  cursor: pointer;
  width: 100px;
  height: 50px;
}