* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

body {
    max-width: 100%;
}

li {
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0px 30px;
    color: rgb(255, 255, 255);
}

a:hover {
    font-weight: bold;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.944);
}

.nav-elements {
    display: flex;
    flex-direction: row;
}

.landing-page {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-size: cover;
    background-image: url('./assets/gym-img.jpg');
}

/* position: fixed; */

.gym-msg {
    margin-left: 25px;
    font-size: 30px;
    color: white;
}

.img-container {
    justify-self: end;
}

.img-box {
    justify-self: center;
    font-size: 40px;
    color: white;
}

.rounded-img {
    margin: 10px;
    border-radius: 50px;
}

.footer {
    margin: 0 0;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: rgba(151, 151, 151, 0.705);
    color: black;
    grid-column: 1/span 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

@media (max-width:452px) {
    .landing-page {
        height: 100vh;
    }
}