* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    max-width: 100%;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.954);
}

.landing-page {
    display: grid;
    height: 100vh;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-size: cover;
    background-image: url('./../assets/gym-img.jpg');
}

form {
    background-color: rgba(0, 0, 0, 0.647);
    font-family: 'Courier New', Courier, monospace;
    border: solid rgb(226, 226, 226) 3px;
    border-radius: 20px;
    padding: 25px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

#btnCont {
    grid-column: 1/span 2;
    justify-self: center;
}

.btns {
    margin: 0px 10px;
    border: solid rgb(176, 176, 176) 2px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.798);
    font-family: monospace;
    font-size: x-large;
    width: fit-content;
    padding: 10px;
}

.btns:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

input {
    border-radius: 5px;
}

#loginP {
    font-size: 20px;
    font-family: monospace;
    color: white;
    justify-self: center;
}